@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:ital,wght@0,300;1,400&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans' , sans-serif;
  background-color: #f0f2f5 !important;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Sider{
  height: 100vh ;
  position: fixed;
  margin-right: 0;
}
.header {
  padding: 5px;
  width: 100%;
  margin-left: 200px;
  height: 100px;
  background-color: inherit;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 5px 5px 10px 10px rgba(0,0,0,.1);

}
.header h1 {
font-weight: normal;
padding: 5px;
margin-top: 10px;
}
.img_div {
  display: flex;
  justify-content: center;
}
.img_div  img 
{
  height: 70%;
  width: 70%;
}
.mainContainer {
  width: 86%;

}
.container {
  position: absolute;
  width : 80% ;
  height: auto;
  margin: 1% 2.5%;
  padding: 2%;
 margin-left: 210px;
}

.flex
 {
   width: 100%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
}

.flex-card {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px 10px rgba(0,0,0,.1);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  color: #000;
  transition: .3s ease;
}
.flex-card:hover {
  background-color: lightgray;;
}

.flex-card .icon {
  height: 40%;
  width: 40%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  transition: .5s ease-in;
}

.flex-card .text {
  font-size: 18px;
}

.box-shadow{

  box-shadow: 5px 5px 10px 10px rgba(0,0,0,.1);
}
.btn {
  display: flex !important;
  justify-content: space-evenly;
  align-items: center !important;
}
.btn span {
  margin-left: 5px;
}
.table-header {
  display: flex;
  justify-content: flex-end;
}

.pre-form {
  width: 45%;
  padding: 10px;
  border-radius: 5px;
}

.line-div {
  width: 45%;
  height: 2px;
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
}

.header-blue {
  color: #1890ff;
}

.header-bold {
  font-weight: bold;
}

.red-text {
  color: red;
}

.bold {
  font-weight: bold;
}

.margin-zero {
  margin: 0;
}

.invoicer {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.invoicer-table {
  width: 80%;
  margin: 0;
}

.invoicer-form-div {
  width: 20%;
  margin: 0;
  background-color: #fff;
}
.invoicer-form-div h3, .invoicer-form-div p{
  font-weight: bold;
}
.invoicer-form {
  border: 1px solid #f0f2f5;
  width: 95%;
  margin: 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table-title {
  display: flex;

}
.table-title > span {
  width: 60%;
}

.title-btn {
  width: 40%;
    display: flex;
    justify-content: flex-end;
}